.pp-grp-sec-20{
	padding-top: 35px;
	padding-bottom: 30px;
}
.pp-grp-sec-20-img{
	padding-top: 5px;
}

.pp-dft-txt-module p em{
	font-style: normal;
	font-family: "SourceSansPro-Italic";
}
.pp-dft-txt-module p strong{
	  font-family: "SourceSansPro-Bold";
}
.pp-grp-sec-20-des{
	padding-top: 5px;
}

.pp-grp-sec-entry-hdr{
	text-align: center;
}
.pp-grp-sec-entry-hdr h1 strong,
.pp-grp-sec-entry-hdr h2 strong{
	font-family: "PTSerif-Bold";
}
.heading-red-color h2,
.heading-red-color h1{
	color: #bb2626;
	margin-bottom: 35px;
}