.mm-group-sec-1{
	position: relative;
	min-height: 430px;
}
.banr-bg{
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background-size: cover!important;
	background-position: center center!important;
	background-repeat: no-repeat!important;
}
.mm-group-sec-1 h1{
	font-family: "PTSerif-Bold";
	margin-bottom: 35px;
}
.mm-group-sec-1 .bnnr-des{
	max-width: 570px;
	padding: 40px 15px 30px 20px;
}
p strong{
	font-family: "SourceSansPro-Bold";
}
p i{
	font-family: "SourceSansPro-Italic";
}
p span.spn-bi{
   font-family: "SourceSansPro-BoldItalic";
}
h1 strong,
h2 strong,
h3 strong,
h4 strong{
  font-family: "PTSerif-Bold"; 
}
h1 i,
h2 i,
h3 i,
h4 i{
  font-family: "PTSerif-Italic";
}
h1 span.spn-bi,
h2 span.spn-bi,
h3 span.spn-bi,
h4 span.spn-bi{
  font-family: "PTSerif-BoldItalic";
}
.red-head{
	color: #b10000!important;
}
.mm-dft-two-part .mm-dft-img{
	width: 	50%;
	float: left;
	text-align: center;
}
.mm-dft-two-part.two-part-reverse .mm-dft-img{
	float: right;
}
.mm-dft-two-part .mm-dft-des{
	width: 	50%;
	float: left;
	padding-left: 12px;
}
.mm-dft-two-part.two-part-reverse .mm-dft-des{
	padding-left: 0;
	padding-right: 25px;
}
.mm-dft-two-part .mm-dft-img span{
	display: inline-block;
	vertical-align: baseline;
	max-width: 444px;
}
.mm-dft-two-part .mm-dft-des p:last-child{
	margin-bottom: 0;
}



.mm-group-sec-2{
	padding-top: 50px;
}
.mm-group-sec-2 .mm-dft-head {
    padding: 5px 26px 0;
}
.mm-group-sec-2 .mm-dft-head h2:first-child{
	margin-bottom: 40px;
}
.mm-group-sec-2 .mm-dft-head h2:last-child{
	margin-bottom: 25px;
}
.mm-group-sec-2 p.big{
	font-size: 25px;
	font-family: "PTSerif-Regular";
}
.mm-group-sec-2 p.big strong{
	font-size: 25px;
	font-family: "PTSerif-Bold";
}
.mm-group-sec-2 .mm-dft-two-part {
    padding-bottom: 32px;
}


.mm-group-sec-3 .mm-dft-head h2:first-child{
	margin-bottom: 40px;
}
.mm-group-sec-3 .mm-dft-head h2:last-child{
	margin-bottom: 25px;
}
.mm-dft-dot-line{
	padding:8px 45px 35px;
}
.mm-dft-dot-line span {
    display: block;
    width: 100%;
    background-size: cover;
    background-repeat: repeat-x;
    height: 4px;
}


.mm-group-sec-4{
	padding-top: 10px;
}
.mm-group-sec-4 .mm-dft-head {
	padding: 0 10px 10px;
}
.mm-group-sec-4 .mm-dft-head h2{
	margin-bottom: 18px;
}



.mm-group-sec-5{
	padding-top: 38px;
}
.mm-group-sec-5 .mm-dft-head h2{
	margin-bottom: 35px;
}
.mm-group-sec-6 .mm-dft-head h2{
	margin-bottom: 34px;
}
.mm-group-sec-6 .mm-dft-two-part{
	padding-bottom: 30px;
}

.mm-group-sec-7 {
	padding-top: 15px;
}
.mm-group-sec-7 .mm-dft-head h2:first-child{
	margin-bottom: 40px;
}
.mm-group-sec-7 .mm-dft-head h2:last-child{
	margin-bottom: 35px;
}



.mm-group-sec-8{
	padding-top: 12px;
}
.mm-group-sec-8 .mm-dft-head h2 {
	margin-bottom: 40px;
}



.mm-group-sec-9{
	padding-top: 13px;
}
.mm-group-sec-9 .mm-dft-head h2 {
	margin-bottom: 37px;
}
.mm-group-sec-9 .mm-dft-two-part{
	padding-bottom: 25px;
}

.mm-group-sec-10{
	padding-top: 10px;
}
.mm-group-sec-10 .mm-dft-head h2 {
	margin-bottom: 37px;
}


.mm-group-sec-11{
	padding-top: 10px;
}
.mm-group-sec-11 .mm-dft-two-part{
	padding-bottom: 25px;
}
.mm-group-sec-11 .mm-dft-head h2:first-child{
	margin-bottom: 40px;
}
.mm-group-sec-11 .mm-dft-head h2:last-child{
	margin-bottom: 25px;
}



.mm-group-sec-12{
	padding-top: 10px;
}
.mm-group-sec-12 .mm-dft-head h2 {
	margin-bottom: 43px;
}
.mm-group-sec-12 .mm-dft-two-part{
	padding-bottom: 25px;
}


.mm-group-sec-13{
	padding-top: 10px;
}
.mm-group-sec-13 .mm-dft-head h2 {
	margin-bottom: 35px;
}
.mm-group-sec-13 .mm-dft-two-part{
	padding-bottom: 25px
}




.mm-group-sec-14{
	padding-top: 5px;
}
.mm-group-sec-14 .mm-dft-head h2 {
	margin-bottom: 15px;
}
.mm-group-sec-14 .mm-dft-two-part{
	padding-bottom: 25px
}


.mm-group-sec-15{
	padding-top: 5px;
	padding-bottom: 5px;
}
.mm-group-sec-15 .mm-dft-head h2 {
	margin-bottom: 30px;
}
.mm-group-sec-15 .mm-dft-two-part{
	padding-bottom: 25px
}


.mm-group-sec-16{
	padding-top: 38px;
	padding-bottom: 18px;
	background: #f5f5f5;
	border: 2px solid #fff;
}
.mm-group-sec-16 h3{
	margin-bottom: 25px;
}
.mm-group-sec-16 h4{
	margin-bottom: 30px;
}
.mm-group-sec-16 .mm-dft-two-part{
	padding-bottom: 25px
}


.mm-group-sec-17{
	padding-top: 35px;
	padding-bottom: 18px;
}
.mm-group-sec-17 h2{
	margin-bottom: 20px;
}
.mm-group-sec-17 h3{
	margin-bottom: 20px;
}
.mm-group-sec-17 .mm-dft-two-part{
	padding-bottom: 25px
}


.mm-group-sec-18{
    background: #f5f5f5;
	border: 2px solid #fff;
	padding-top: 35px;
	padding-bottom: 18px;
}
.mm-group-sec-18 h3{
	margin-bottom: 37px;
}
.mm-group-sec-18 h4{
	margin-bottom: 22px;
}
.mm-group-sec-18 .mm-dft-two-part{
	padding-bottom: 25px
}


.mm-group-sec-19{
	padding-top: 35px;
	padding-bottom: 14px;
}
.mm-group-sec-19 h2{
	margin-bottom: 26px;
}



.mm-group-sec-20 h2{
	margin-bottom: 37px;
}
.mm-group-sec-20 .mm-dft-two-part{
	padding-bottom: 25px
}




.mm-group-sec-21{
	padding-top: 15px;
}
.mm-group-sec-21 .mm-dft-head h2:first-child{
	margin-bottom: 40px;
}
.mm-group-sec-21 .mm-dft-head h2:last-child{
	margin-bottom: 25px;
}
.mm-group-sec-21 .mm-dft-two-part{
	padding-bottom: 20px
}



.mm-group-sec-22{
	padding-top: 10px;
}
.mm-group-sec-22 .mm-dft-head h2{
	margin-bottom: 25px;
}
.mm-group-sec-22 .mm-dft-two-part{
	padding-bottom: 30px
}



.mm-group-sec-23{
	padding-top: 5px;
}
.mm-group-sec-23 .mm-dft-head h2{
	margin-bottom: 22px;
}
.mm-group-sec-23 .mm-dft-two-part{
	padding-bottom: 30px
}



.mm-group-sec-24{
	padding-top: 7px;
	padding-bottom: 45px;
}
.mm-group-sec-24 .mm-dft-head h2{
	margin-bottom: 40px;
}







/*Responsive media*/

@media(max-width: 1199px){

  
}

@media(max-width: 991px){
	.mm-dft-two-part .mm-dft-img{
		width: 	100%;
		text-align: center;
		margin-bottom: 25px;
	}
	.mm-dft-two-part.two-part-reverse .mm-dft-des,
	.mm-dft-two-part .mm-dft-des{
		width: 	100%;
		float: left;
		padding-left:0;
		padding-right: 0;
	}

}

@media(max-width: 767px){
	.mm-group-sec-5 .mm-dft-head h2,
	.mm-group-sec-8 .mm-dft-head h2,
	.mm-group-sec-9 .mm-dft-head h2,
	.mm-group-sec-10 .mm-dft-head h2,
	.mm-group-sec-11 .mm-dft-head h2:first-child ,
	.mm-group-sec-11 .mm-dft-head h2:last-child ,
	.mm-group-sec-12 .mm-dft-head h2,
	.mm-group-sec-13 .mm-dft-head h2 ,
	.mm-group-sec-18 h3,
	.mm-group-sec-20 h3,
	.mm-group-sec-7 .mm-dft-head h2:first-child,
	.mm-group-sec-21 .mm-dft-head h3:first-child,
	.mm-group-sec-24 .mm-dft-head h3{
    margin-bottom: 28px;
}
}

@media(max-width: 575px){



}








































