.pp-grp-sec-20{
	padding-top: 35px;
	padding-bottom: 30px;
}
.pp-grp-sec-20-img{
	padding-top: 5px;
}

.pp-dft-txt-module p em{
	font-style: normal;
	font-family: "SourceSansPro-Italic";
}
.pp-dft-txt-module p strong{
	  font-family: "SourceSansPro-Bold";
}
.pp-grp-sec-20-des{
	padding-top: 5px;
}

.pp-grp-sec-entry-hdr{
	text-align: center;
}
.pp-grp-sec-entry-hdr h1 strong,
.pp-grp-sec-entry-hdr h2 strong{
	font-family: "PTSerif-Bold";
}
.pp-grp-sec-entry-hdr h1 em,
.pp-grp-sec-entry-hdr h2 em{
	font-family: "PTSerif-Italic";
}
.pp-grp-sec-entry-hdr h1,
.pp-grp-sec-entry-hdr h2{
	margin-bottom: 35px;
}
.heading-red-color h2,
.heading-red-color h1{
	color: #bb2626;
}
.heading-blue-color h2,
.heading-red-color h1{
	color: #031f35;
}

.pp-dot-divider{
	padding-left: 41px;
	padding-right: 41px;
	padding-top: 10px;
	padding-bottom: 45px;
}
.pp-dot-divider span{
	display: block;
	height: 4px;
	background-position: left center!important;
	background-repeat: repeat-x!important;
}
.book-img-01-part2{
	padding-bottom: 30px;
}
.pp-grp-sec-multi-heading{
	text-align: center;
}
.pp-grp-sec-multi-heading h2{
	margin-bottom: 45px;
	font-size: 34px;
}
.pp-grp-sec-multi-heading h2 strong{
	font-family: "PTSerif-Bold";
}
.color-red{
	color: #b10000;
}

.pp-grp-sec-dotted-bx{
	max-width: 575px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	border: 2px dotted #a5a5a5;
	padding: 25px 20px 2px 30px;
	margin-bottom: 25px;
}
.pp-grp-sec-dotted-bx ul li{
	padding-bottom: 25px;
}
.pp-grp-sec-dotted-bx ul li span{
	margin-left: -14px;
	padding-right: 6px;
}
.pp-grp-sec-dotted-bx ul li strong{
	font-family: "SourceSansPro-Bold";
}

.pp-grp-sec-dotted-bx ul li em{
  font-family: "SourceSansPro-Italic";	
}

.pp-grp-sec-dotted-bx-more{
	text-align: center;
}
.pp-grp-sec-dotted-bx-more a{
	color: #000000;
}
.pp-grp-sec-dotted-bx-more a:hover{
	color: #be3333;
}
.pp-grp-sec-dotted-bx-more a span {
    padding-right: 15px;
    display: inline-block;
    position: relative;
    top: -1px;
}
.pp-grp-sec-dotted-bx-more{
	padding-bottom: 35px;
}
.pp-grp-sec-23,
.pp-grp-sec-24{
	padding-bottom: 15px;
}
.pp-dft-txt-module ul{
	padding-top: 5px;
}
.pp-dft-txt-module ul li{
	position: relative;
	padding: 0 0 30px 45px;
}
.pp-dft-txt-module ul li span{
	position: absolute;
	left: 0;
	top: 0;
}
.book-img-02-part2{
	padding-bottom: 30px;
}

.payment-icon{
	text-align: center;
	padding-bottom: 40px;
}

.pp-grp-sec-27 .pp-grp-sec-entry-hdr h2{
	font-size: 33px;
}
.payment-icon a{
	display: inline-block;
	vertical-align: baseline;
}
.payment-icon a:hover{
	opacity: .88;
}
.book-img-03-part2{
	padding-bottom: 20px;
}
.book-img-04-part2{
	padding-bottom: 18px;
}
.book-img-05-part2{
	padding: 10px 0 25px;
}

.garantie-con p em{
	font-family: "SourceSansPro-Italic";
}
.garantie-con img{
	padding-bottom: 30px;
}

.book-img-06-part2{
	padding: 20px 0 35px;
}

.book-img-07-part2{
	padding-bottom: 17px;
}

.pp-ftr-sec{
	padding: 50px 0 45px;
	
	text-align: center;
	position: relative;
}
.pp-ftr-sec:before{
	content: "";
	height: 2px;
	position: absolute;
	left: 15px;
	right: 15px;
	top: 0;
	border-top: 2px dashed #a5a5a5;
}
.pp-ftr-nav{
	text-align: center;
	padding-bottom: 30px;
}
.pp-ftr-nav ul li{
	display: inline-block;
	vertical-align: baseline;
	padding: 0 5px;
	position: relative;
}
.pp-ftr-nav ul li:not(:last-child):after{
	content: "";
	width: 6px;
	height: 2px;
	background: #0d41b3;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	right: 0;
	margin-right: -5px;
	margin-top: 1px;
}
.pp-ftr-nav ul li a{
	color: #0d41b3;
}
.pp-ftr-nav ul li a:hover{
	color: #000;
}

.pp-ftr-des p{
	font-size: 18px;
	line-height: 21px;
	color: #646464;
}

.pp-copy-rgt span{
	display: block;
	font-size: 28px;
	line-height: 30px;
	padding-bottom: 15px;
}
.pp-copy-rgt p{
	font-size: 22px;
	line-height: 24px;
	margin-bottom: 25px;
}
.pp-ftr-des{
	padding-left: 15px;
	padding-right: 15px;
}
.pp-grp-sec-25{
	padding-bottom: 15px;
}

.pp-grp-sec-32 .payment-icon{
	padding-bottom: 25px;
}

.book-img-07-part2{
	padding-top: 25px;
}



@media(max-width: 1199px){


}

@media(max-width: 991px){
	.pp-grp-sec-20-img,
	.pp-grp-sec-21-img,
	.pp-grp-sec-22-img,
	.pp-grp-sec-24-img,
	.pp-grp-sec-25-img,
	.pp-grp-sec-29-img,
	.pp-grp-sec-32-img,
	.pp-grp-sec-34-img{
		text-align: center;
		padding-bottom: 25px;
		padding-left: 0!important;
		padding-right: 0!important;
		margin-left: 0!important;
		margin-right: 0!important;
	}
	.ppisd-all-sections-wrap{
		padding-left: 0;
		padding-right: 0;
	}
	.heading-red-color h2 br, .heading-red-color h1 br{
		display: none;
	}
}

@media(max-width: 767px){
	.pp-grp-sec-multi-heading h2 {
	    margin-bottom: 40px;
	    font-size: 30px;
	}
	.pp-grp-sec-27 .pp-grp-sec-entry-hdr h2{
		font-size: 30px;
	}
	.pp-dft-txt-module ul li {
	    padding: 0 0 25px 40px;
	}

}

@media(max-width: 575px){
	.pp-ftr-des {
	    padding-left: 5px;
	    padding-right: 5px;
	}


}
