.mm-group-sec-1{
	position: relative;
	min-height: 430px;
	margin-bottom: 50px;
}


.banr-bg{
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background-size: cover!important;
	background-position: center center!important;
	background-repeat: no-repeat!important;
	
}

.mm-group-sec-1 h1{
	font-family: "PTSerif-Bold";
	margin-bottom: 15px;
}


















































